<h1>Defect Management Simplicity</h1>
<h4 class="simple-gray">Best Bug Tracking Software Tools and Systems: Track Defects Efficiently With These Top Tools</h4>

<!--<a href="http://www.mysite.com"><img src="path/to/image.png"/></a>-->

<%= link_to image_tag("bug-small.png"), controller: 'articles' %>
<p>

<%= link_to 'My bugs are eating our cakes', controller: 'articles' %>

<p>In engineering, defect tracking is the process of tracking the logged defects in a product from beginning to closure (by inspection, testing, or recording feedback from customers), and making new versions of the product that fix the defects. Defect tracking is important in software engineering as complex software systems typically have tens or hundreds or thousands of defects: managing, evaluating and prioritizing these defects is a difficult task. When the numbers of defects gets quite large, and the defects need to be tracked over extended periods of time, use of a defect tracking system can make the management task much easier.</p>
